CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_1=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_TINYUSB_HID_COUNT=2
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_MIPI_RAW8_800X640_50FPS=y
CONFIG_ETH_ENABLED=y
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ETH_PHY_INTERFACE_RMII=y
CONFIG_ETH_RMII_CLK_INPUT=y
CONFIG_SI_ETH_ENABLE=y
CONFIG_SI_ETH_MDC_GPIO=31
CONFIG_SI_ETH_MDIO_GPIO=52
CONFIG_SI_ETH_PHY_RST_GPIO=51
CONFIG_SI_ETH_PHY_ADDR=1
CONFIG_SI_ETH_WAIT_IP_TIMEOUT_MS=15000
CONFIG_SI_AUTH_PASSWORD="admin"
CONFIG_SI_VIDEO_ENABLE=y
CONFIG_SI_VIDEO_CAMERA_SENSOR=y
CONFIG_SI_VIDEO_WIDTH=800
CONFIG_SI_VIDEO_HEIGHT=640
CONFIG_SI_VIDEO_DATA_LANES=2
CONFIG_SI_VIDEO_LANE_BITRATE_MBPS=200
CONFIG_SI_VIDEO_SENSOR_FORMAT="MIPI_2lane_24Minput_RAW8_800x640_50fps"
CONFIG_SI_VIDEO_SCCB_SCL_GPIO=8
CONFIG_SI_VIDEO_SCCB_SDA_GPIO=7
CONFIG_SI_VIDEO_SCCB_FREQ_HZ=10000
CONFIG_SI_VIDEO_SENSOR_RESET_GPIO=-1
CONFIG_SI_VIDEO_SENSOR_PWDN_GPIO=-1
CONFIG_SI_VIDEO_JPEG_QUALITY=75
CONFIG_SI_VIDEO_STREAM_DELAY_MS=120
CONFIG_SI_VIDEO_MIPI_LDO_ENABLE=y
CONFIG_SI_VIDEO_MIPI_LDO_CHAN_ID=3
CONFIG_SI_VIDEO_MIPI_LDO_VOLTAGE_MV=2500
