CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_1=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_ETH_ENABLED=y
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_ETH_PHY_INTERFACE_RMII=y
CONFIG_ETH_RMII_CLK_INPUT=y
CONFIG_SI_ETH_ENABLE=y
CONFIG_SI_ETH_MDC_GPIO=31
CONFIG_SI_ETH_MDIO_GPIO=52
CONFIG_SI_ETH_PHY_RST_GPIO=51
CONFIG_SI_ETH_PHY_ADDR=1
CONFIG_SI_ETH_WAIT_IP_TIMEOUT_MS=15000
CONFIG_SI_AUTH_PASSWORD="admin"
CONFIG_SI_HID_USB_ENABLE=y
CONFIG_SI_HID_USB_DM_GPIO=26
CONFIG_SI_HID_USB_DP_GPIO=27
CONFIG_SI_VIDEO_ENABLE=y
CONFIG_SI_VIDEO_WIDTH=1280
CONFIG_SI_VIDEO_HEIGHT=720
CONFIG_SI_VIDEO_UVC_FPS=30
CONFIG_SI_VIDEO_UVC_FRAME_BUFFERS=3
CONFIG_SI_VIDEO_UVC_URBS=4
CONFIG_SI_VIDEO_UVC_URB_SIZE=16384
CONFIG_SI_VIDEO_UVC_JPEG_BUFFER_SIZE=1048576
CONFIG_SI_VIDEO_JPEG_QUALITY=75
CONFIG_SI_VIDEO_STREAM_DELAY_MS=33
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=4096
CONFIG_USB_HOST_DEBOUNCE_DELAY_MS=500
CONFIG_USB_HOST_RESET_HOLD_MS=100
CONFIG_USB_HOST_RESET_RECOVERY_MS=100
CONFIG_USB_HOST_SET_ADDR_RECOVERY_MS=100
CONFIG_USB_HOST_EXT_PORT_RESET_RECOVERY_DELAY_MS=100
CONFIG_USB_HOST_HW_BUFFER_BIAS_IN=y
CONFIG_USB_HOST_HUBS_SUPPORTED=y
CONFIG_TINYUSB_HID_COUNT=3
CONFIG_TINYUSB_MIDI_COUNT=0
CONFIG_TINYUSB_DFU_MODE_NONE=y
CONFIG_TINYUSB_NET_MODE_NONE=y
CONFIG_TINYUSB_VENDOR_COUNT=0
